* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: black;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  font-size: 4vh;
}

.hidden {
  visibility: hidden;
}

p {
  color: white;
  font-size: 4vh;
}

p,
.board,
#open-modal {
  margin-top: 4vh;
}

button {
  outline: none;
  border: none;
  padding: 1vh;
  font-size: 4vh;
  border-radius: 1vh;
  background: #bbb;
}

/* Modal */

.modal {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(0, 0, 0, 0);

  transition: all 0.5s;
}

.modal.open {
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

form {
  padding: 4vmin;
  height: 50vh;

  background: white;
  border-radius: 1vmin;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  width: 20em;
}

